doctype html
html
  head
    title Bolsa de Trabajo - Currículos y Cartas de Presentación
  body
    h1 Bolsa de Trabajo - Currículos y Cartas de Presentación
    form(action='/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='file')
      button(type='submit') Subir Archivo

